In [17]:
#list is collection of differnt data types 
#growable, mutable , duplicates allowed,Ordered and indexed,
#heterogeneous obejects allowed

list1 = ["Piyush","Ishan","Nilay"]
print(list1)

['Piyush', 'Ishan', 'Nilay']

In [18]:
#accessing objects

print(len(list1))

print(list1[1])

3
Ishan

In [19]:
# adding items to list

list1.append("Varad")
print(list1)

list1.extend(["Chinmay","Chaitanya"])
print(list1)

list1.insert(2,"Ojas")
print(list1)

['Piyush', 'Ishan', 'Nilay', 'Varad']
['Piyush', 'Ishan', 'Nilay', 'Varad', 'Chinmay', 'Chaitanya']
['Piyush', 'Ishan', 'Ojas', 'Nilay', 'Varad', 'Chinmay', 'Chaitanya']

In [20]:
#updating list items

list1[1] = "Isha"
print(list1)


#before updating with slicing operator you need to
list1[1:3] = ["IshanK","OjasK"]
print(list1)
# number of elements in slicing operator and in list must be same

['Piyush', 'Isha', 'Ojas', 'Nilay', 'Varad', 'Chinmay', 'Chaitanya']
['Piyush', 'IshanK', 'OjasK', 'Nilay', 'Varad', 'Chinmay', 'Chaitanya']

In [21]:
#removing the items from lists

list1.remove("Piyush")
print(list1)

list1.pop(1) # removes specified item
print(list1)

list1.pop() # removes last item
print(list1)

del list1[2]
print(list1)

list1.clear()
print(list1)

['IshanK', 'OjasK', 'Nilay', 'Varad', 'Chinmay', 'Chaitanya']
['IshanK', 'Nilay', 'Varad', 'Chinmay', 'Chaitanya']
['IshanK', 'Nilay', 'Varad', 'Chinmay']
['IshanK', 'Nilay', 'Chinmay']
[]

In [28]:
# loop through lists

thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
    print(thislist[i])
    
thislist = ["apple", "banana", "cherry"]
for x in thislist:
    print(x)
    
# comprehension
# crete new list based on previous list or values
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

apple
banana
cherry
apple
banana
cherry
['apple', 'banana', 'mango']

In [34]:
# Sorting of lists
thislist = [1,2,3,4,5,6,7,0,9,8]
thislist.sort()
print(thislist)

thislist.sort(reverse=True)
print(thislist)

thislist.reverse()
print(thislist)

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

#You can also customize your own function by using the keyword argument key = function.
#The function will return a number that will be used 
#to sort the list (the lowest number first):

def myfunc(n):
    return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
['banana', 'cherry', 'Kiwi', 'Orange']
[50, 65, 23, 82, 100]

In [35]:
#copy lists

thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']

In [36]:
#join lists

list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]