In [23]:
people = {  'last' : ['roronoa','roronoa','vinsmoke'], 
          'first'  : ['luffy','zoro','sanji'], 
         'age' : ['18','21','23']}

In [24]:
people['first']

['luffy', 'zoro', 'sanji']

### creating a dataframe from a dictionary

In [25]:
import pandas as pd

In [26]:
df = pd.DataFrame(people)

In [27]:
df

       last  first age
0   roronoa  luffy  18
1   roronoa   zoro  21
2  vinsmoke  sanji  23

In [28]:
df['last']

0     roronoa
1     roronoa
2    vinsmoke
Name: last, dtype: object

In [29]:
type(df['last'])

pandas.core.series.Series

In [30]:
#dataframe is a collection of series object
#series is one dimentional array of the objects

In [31]:
df.first

<bound method NDFrame.first of        last  first age
0   roronoa  luffy  18
1   roronoa   zoro  21
2  vinsmoke  sanji  23>

In [32]:
df[['first','last']]

   first      last
0  luffy   roronoa
1   zoro   roronoa
2  sanji  vinsmoke

In [33]:
df.columns

Index(['last', 'first', 'age'], dtype='object')

In [34]:
#iloc we were searching by index location 
df.iloc[[0,1],2]

0    18
1    21
Name: age, dtype: object

In [35]:
#with loc we search by label
df

       last  first age
0   roronoa  luffy  18
1   roronoa   zoro  21
2  vinsmoke  sanji  23

In [36]:
df.loc[[0,1],['age']]

  age
0  18
1  21

In [37]:
df['first']

0    luffy
1     zoro
2    sanji
Name: first, dtype: object

In [38]:
df

       last  first age
0   roronoa  luffy  18
1   roronoa   zoro  21
2  vinsmoke  sanji  23

In [39]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [44]:
df.loc['18','last']

KeyError: '18'

In [43]:
df['last'] == roronoa

NameError: name 'roronoa' is not defined