In [2]:
## unordered unindexed and unchangable data type

In [3]:
# duplicates not allowed 
# set treats true = 1 and false = 0 same

In [13]:
set1 = {"abc",34,True,40,"male"}

In [14]:
# accessing in set 
# # cannot access by reffering to index or key 

thisset = {"apple", "banana", "cherry"}

print("banana"  in thisset)

True

In [15]:
# You can add items 
# but you cannot edit items in set

thisset.add("orange")
print(thisset)

# by update method you can add two sets together
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)

print(thisset)

{'orange', 'banana', 'apple', 'cherry'}
{'pineapple', 'banana', 'apple', 'mango', 'cherry', 'papaya', 'orange'}

In [16]:
## removing items in set 

thisset.remove('orange') # remove method will give error
print(thisset)           # if the item is not present in set

thisset.discard('banana') # discard will not give any error if item is not 
print(thisset)            # present
    
thisset.pop() # removes random item in set
print(thisset)

thisset.clear() # empties the list
print(thisset)

del tropical

{'pineapple', 'banana', 'apple', 'mango', 'cherry', 'papaya'}
{'pineapple', 'apple', 'mango', 'cherry', 'papaya'}
{'apple', 'mango', 'cherry', 'papaya'}
set()

In [19]:
# looping or iterating on set element

set1 = {"apple", "banana", "cherry"}
thisset.update(set1)

for x in thisset:
    print(x)

banana
apple
cherry

In [23]:
## join sets

# Union of sets
# .set(set1,set2,...) multiple sets
# exclude duplicate items

set1 = {"a", "b", "c",1,}
set2 = {1, 2, 3}
tuple1 = (1,2,3)

set3 = set1.union(set2)
print(set3)

set3 = set1 | set2
print(set3)

#union with tuple 
# cannot tuple with | operator do with .union method

set4 = set1.union(tuple1)
print(set4)

{1, 'a', 2, 3, 'c', 'b'}
{1, 'a', 2, 3, 'c', 'b'}
{1, 2, 'a', 3, 'c', 'b'}

In [31]:
# intersection
# keeps only duplicate between sets
# .intersection(set2)
# done with only two sets

set1 = {"a", "b", "c",1,}
set2 = {1, 2, 3}
set4 = {2}
tuple1 = (1,2,3)

set3 = set1.intersection(set2)
print(set3)

# with & operator

set3 = set1 & set2
print(set3)

# with tuples

set5 = set2.intersection(tuple1)
print(set5)

{1}
{1}
{1, 2, 3}

In [33]:
# intersection_update()
# keeps duplicates but changes original set instead of returning new

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

#Join sets that contains the values True, False, 1, and 0, and see 
# what is considered as duplicates:

set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{'apple'}
{False, 1, 'apple'}

In [34]:
# difference method The difference() method will return a new set 
# that will contain only the items from the first set that are not present in the other set.


set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

# use the - operator instead of the difference() method

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'banana', 'cherry'}
{'banana', 'cherry'}

In [35]:
# The difference_update() method will also keep the items from the
# first set that are not in the other set,
# but it will change the original set instead of returning a new set.

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'banana', 'cherry'}

In [36]:
## Symmetric difference 
# The symmetric_difference() method will keep only the elements 
# that are NOT present in both sets.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

set3 = set1 ^ set2
print(set3)

{'banana', 'google', 'cherry', 'microsoft'}
{'banana', 'google', 'cherry', 'microsoft'}

In [37]:
# The symmetric_difference_update() method will also keep all but 
# the duplicates,but it will change the original set instead of returning a new set.

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'banana', 'google', 'cherry', 'microsoft'}

In [38]:
# disjoint() 
# The isdisjoint() method returns True 
# if none of the items are present in both sets, otherwise it returns False.

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.isdisjoint(y)

print(z)

False

In [42]:
# issubset()
# The issubset() method returns True if all items in the set exists 
# in the specified set, 
# otherwise it returns False.
# As a shortcut, you can use the <= operator instead, see example below.


x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)


z = x <= y

print(z)

# if not all items are present in the specified set?
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b"}

z = x.issubset(y)

print(z)

True
True
False

In [44]:
#issuperset() method returns True if all items in the specified
# set exists in the original set, otherwise it returns False.
# As a shortcut, you can use the >= operator instead

x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

z = x >= y

print(z)

# if not all items are present in the specified set?
x = {"f", "e", "d", "c", "b"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

True
True
False