In [27]:
# Tuples are same as list 
# but tuples are immutable


thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [28]:
# updating values in tuples 

# tuples are immutables so we first have to convert them into lists
# and then perform addittion and remove operation 
# after adding and removing again we have to convert them into tuple


x = list(thistuple)
x.append("Mango")
thistuple = tuple(x)
print(thistuple)

tuple1 = ("orange",) # here we don't have to convert tuple to list 
# When creating a tuple with only one item, remember to include a comma 
# after the item, 
# otherwise it will not be identified as a tuple.


thistuple = thistuple + tuple1
print(thistuple)

# removing items from tuple
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

# delete the tuple
# del thistuple
# print(thistuple)  this will give error as tuple does not exists

('apple', 'banana', 'cherry', 'Mango')
('apple', 'banana', 'cherry', 'Mango', 'orange')
('banana', 'cherry', 'Mango', 'orange')

In [33]:
# unacking of tuples
# when we create tuples it is called as packing of tuple

tuple1 = ("Piyush","Iba","Chaitanya") #packing of tuples

# unpacking of tuples 
## when we extract values back to varible by destructuring tuple this 
# this is called unpacking of values

## condition is you must have same number of variables to left side as
# values in tuples

a,b,c = tuple1
print(a,b,c)

# using astrix * 
# if you dont have same number of variables to the left side then use astrix 
# before the variable name and values are assigned there
# you can only give astrix to only one variable

fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

# If the asterisk is added to another variable name than the last, Python will assign values to the variable 
# until the number of values left matches the number of variables left.

(green, *yellow, red) = fruits

print(green)
print(yellow)
print(red)

Piyush Iba Chaitanya
apple
['banana', 'cherry', 'strawberry']
raspberry

In [35]:
# loop through

thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [38]:
# join tuples
# additopm
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

# Multiply tuple
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 5

print(mytuple)

('a', 'b', 'c', 1, 2, 3)
('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [43]:
# methods

#.count()
## The count() method returns the number of times a specified value appears 
# in the tuple.

thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)


# .index()
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

#The index() method finds the first occurrence of the specified value.
#The index() method raises an exception if the value is not found

x = thistuple.index(5)

print(x)

2
5